.nav-link {
    color: red;
}

.carrosel{
    margin-bottom: 7%;
}

section{
    margin-top: 7%;
}

.imgGaleria{
    width: 100%;
}

.progress{
    margin-bottom: 4%;
}

footer {
    background-color: pink;
    color: white;
    padding: 20px;
    text-align: center;
    height: 20%;
    margin-top: 8%;
} 
  
.titu{
    margin-bottom: 4%;
    margin-top: 4%;    
}